.texto{
  font-size: 30px;
  color: blue;
  background-color: aquamarine;
}

.caixa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa > a{
  font-size: 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: bolder;
}

.caixa > a:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
}